.Data {
  @include adjust;
  @include between;
  align-items: initial;

  input {
    border: none;
    outline: none;
    font-family: "Montserrat";
  }

  .Interaction {
    .Menu {
      @include between;
      align-items: initial;

      .Encuestas,
      .Estratos {
        margin-right: 34px;

        .Title-estrato {
          @include between;
          padding-right: 27px;

          input {
            text-align: center;
            width: 69px;
            height: 24px;
          }
        }

        .Title,
        .Title-estrato {
          @include between;
          padding-left: 22px;
          background: $color-background;
          width: 326px;
          height: 47px;
        }

        .Options {
          background: $color-background-answers;
          margin-left: 20px;
          padding: 19px 27px 8px 19px;

          .individual-option {
            @include between;
            margin-bottom: 19px;
          }
        }
      }
    }

    .Estratos-input {
      @include between;
      margin-top: 32px;
      background: $color-background;
      padding: 0 28px;
      height: 47px;
      border-radius: 2px;

      input {
        width: 602px;
        height: 20px;
      }
    }
  }

  .Buttons {
    display: flex;
    flex-direction: column;

    .Button {
      @include centrar;
      background: $color-background;
      width: 400px;
      height: 47px;
      margin-bottom: 15px;
      border-radius: 5px;
      font-weight: 500;
    }
  }
}
