.Card {
  margin-right: 20px;
  .Statement {
    background: $color-background;
    width: 100%;
    min-height: 85px;
    border-radius: 5px;
    @include between;
    padding: 0 38px;
  }

  .Statement-no-answers {
    background: $color-background;
    width: 100%;
    min-height: 85px;
    border-radius: 5px;
    @include between;
    padding: 0 38px;
    margin-bottom: 28px;
  }

  .Graphics {
    @include between;

    .Check {
      margin-left: 10px;
      display: flex;

      .hint {
        opacity: 0.2; // ?
      }
    }

    .Checked {
      margin-left: 10px;
      display: flex;
      color: $color-checked;
    }
    .Check-rotate {
      margin-left: 10px;
      display: flex;

      span {
        transform: rotate(90deg);
      }
    }
    .Checked-rotate {
      margin-left: 10px;
      display: flex;
      color: $color-checked;

      span {
        transform: rotate(90deg);
      }
    }

    span {
      cursor: pointer;
    }
  }

  .text {
    max-width: 80%;
    cursor: pointer;
  }

  .Answers {
    background: $color-background-answers;
    margin-left: 40px;
    margin-bottom: 28px;
    padding: 22px 26px;
    border-radius: 5px;

    .Individual-answer {
      @include between;
      margin: 15px 0;

      span {
        cursor: pointer;
      }

      section {
        display: flex;
        align-items: center;

        .Color-answer {
          width: 30px;
          height: 30px;
          background: #fff;
          margin-right: 22px;
          cursor: pointer;
        }
      }

      @import "./color-picker";
    }

    .edit-answer {
      @include between;

      span {
        cursor: pointer;
      }

      input {
        height: 30px;
        border: 0;
        border-radius: 2px;
        width: 90%;
        padding-left: 15px;
        font-family: "Montserrat";
        margin: 8px 0;
        outline: none;
      }
    }
  }
}
