.Files {
  @include centrar;
  justify-content: space-between;
  margin-top: 98px;
  @include ajustar;

  .Upload-files {
    .isLoading {
      @include centrar;

      .hide-done {
        width: 40px;
        height: 40px;
      }
    }

    .Button-validate {
      @include centrar;

      input[type="file"] {
        display: none;
      }

      .Button {
        margin: 20px;
        background: $color-background;
        width: 393px;
        height: 64px;
        border-radius: 10px;
        font-weight: 600;
        @include centrar;
      }

      .Button:hover {
        opacity: 0.8;
        cursor: pointer;
      }

      .document {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        font-size: 40px;
        font-weight: 600;
        width: 70px;
      }

      .hide-done {
        width: 70px;
        height: 40px;
      }
    }
  }
}
