* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  width: 100vw;
  height: 100vh;
}

$color-background: #d9d9d9;
$color-background-answers: #e6e6e6;
$color-letter: #000;
