* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

$color-background: #d9d9d9;
$color-background-answers: #e6e6e6;
$color-letter: #000;
$color-warning: #ffcc00;
$color-done: #339900;
$color-checked: #4472c4;
