.Questions {
  @include ajustar;
  @include between;
  align-items: flex-start;
  margin-top: 49px;

  .Cards {
    width: 70vw;
  }

  .isLoading {
    @include centrar;
    width: 493px;
    height: 64px;
    margin-top: 19px;
  }

  .isLoadingQuestions {
    width: 60%;
    @include centrar;
  }

  .Interaction {
    position: fixed;
    margin-left: 1100px;
    .Graphics {
      background: $color-background;
      width: 600px;
      height: 350px;
      border-radius: 10px;
      padding: 24px 36px;

      h1 {
        margin-bottom: 19px;
        font-family: "Bebas Neue", cursive;
        font-size: 36px;
      }

      .nameGraphic {
        @include between;

        .Name {
          width: 1500px;
        }

        p {
          display: flex;
          align-items: center;
          margin-bottom: 22px;
          height: 30px;
        }

        input {
          display: flex;
          align-items: center;
          margin-bottom: 22px;
          border: 0;
          border-radius: 5px;
          outline: none;
          height: 30px;
          padding-left: 10px;
          font-family: "Montserrat";
          font-size: 20px;
          max-width: 200px;
        }
      }
    }
  }

  .CreateGraphics {
    position: fixed;
    left: 75vw;
  }

  button {
    cursor: pointer;
    border: none;
    width: 380px;
    height: 64px;
    background: $color-background;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat";
    margin-bottom: 20px;
  }
}
