@import '../../main.scss';

.FilesPos {
  @include centrar;
  @include ajustar;
  justify-content: space-between;
  margin-top: 98px;

  .Upload-buttons {
    .hide-done {
      width: 69px;
      height: 40px;
    }

    .Button {
      margin: 10px;
      background: $color-background;
      width: 393px;
      height: 64px;
      border-radius: 10px;
      font-weight: 600;
      @include centrar;
    }

    .Button:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    input[type='file'] {
      display: none;
    }

    .Upload-files {
      @include centrar;

      .document {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        font-size: 40px;
        font-weight: 600;
        width: 70px;
      }
    }
  }

  .Upload-files {
    .icon {
      font-size: xx-large;
      cursor: help;
      color: gray;
    }

    .sizedBox {
      width: 35px;
    }

    .Tip {
      margin-right: 10px;

      div {
        width: 80px;
        @include between;
      }

      .icon {
        font-size: smaller;
        color: $color-warning;
      }

      .iconCheck {
        font-size: smaller;
        color: $color-done;
      }
    }

    .isLoading {
      @include centrar;

      .hide-done {
        width: 40px;
        height: 40px;
      }
    }

    .Button-validate {
      .hide-done {
        width: 100px;
        height: 40px;
      }

      .Files-button {
        @include centrar;
      }

      input[type='file'] {
        display: none;
      }

      .Button {
        margin: 20px;
        background: $color-background;
        width: 393px;
        height: 64px;
        border-radius: 10px;
        font-weight: 600;
        @include centrar;
      }

      .Button:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}
